@font-face {
    font-family:"technology-icons";
    src:url("../fonts/technology-icons.eot");
    font-weight:normal;
    font-style:normal;
}@font-face {
	font-family:"technology-icons";
	src:url("../fonts/technology-icons.eot");
	src:url("../fonts/technology-icons.eot?#iefix") format("embedded-opentype"),
		url("../fonts/technology-icons.woff") format("woff"),
		url("../fonts/technology-icons.ttf") format("truetype"),
		url("../fonts/technology-icons.svg?#technology-icons") format("svg");
	font-weight:normal;
	font-style:normal;
}
/* Novo gradient: background: #cb2d3e;  
background: -webkit-linear-gradient(to right, #ef473a, #cb2d3e);  
background: linear-gradient(to right, #ef473a, #cb2d3e); 
*/
html, body {
	max-width: 100%;
	overflow-x: hidden;
}
.bg-custom{
	background:  linear-gradient(to right, #b70430, #860590);
	/*background: #EE2424;*/
	/*background: rgba(255, 25, 0, 0.5);*/
}
.bg-alpha{
	background:  linear-gradient(to right, rgba(255, 0, 0, 1), rgba(255, 30, 0, 0.5));
}
body, html {
    height: 100%;
}
.navbar-brand{
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
}
.navbar-custom{
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	/*text-shadow: #000 1px 1px 3px;*/
}
.navbar-custom .navbar-nav .nav-link, .navbar-custom .navbar-nav .nav-link:hover{
	color: white;
}
.titles{
	justify-content: center;
  	align-items: center;
  	margin-top: -30px;
  	padding-bottom: 100px;
}
.titles h2{
	font-family: 'Open Sans', sans-serif;
	font-size: 22pt;
	font-weight: 700;
	text-transform: uppercase;
}
 @keyframes spin-move {
    from {transform:rotate(0deg); margin-left:800px;}
    to {transform:rotate(360deg); margin-left:0px;}
  }
#about-h2{
	/*margin-left:800px;*/
}
#about-h2.spin-move{
	animation-name: spin-move;
	animation-duration: 1.5s;
	margin-left:0px;
}

#hability-h2{
	/*margin-left:800px;*/
}
#hability-h2.spin-move{
	animation-name: spin-move;
	animation-duration: 1.5s;
	margin-left:0px;
}

#contact-h2{
	/*margin-left:800px;*/
}
#contact-h2.spin-move{
	animation-name: spin-move;
	animation-duration: 1.5s;
	margin-left:0px;
}

#hability{
	margin-top: -10%!important;
}

#contact-sec{
	margin-top: -10%!important;
	color: #fff;
	background: linear-gradient(to right, #b70430, #860590);
	padding-top: 10rem;
	padding-bottom: 2rem;
}

.gradient{
	background:linear-gradient(to right, #DD1029, #EE2424, #F14220);
	z-index:-1;
	position: relative;
	height:100vh;
}

.btn-custom{
	transition: background 2s;
	background:linear-gradient(to right, #DD1029, #EE2424, #F14220);
	padding: 10px 30px 10px 30px;
	font-size: 18pt;
	color: #fff;
	border-radius: 0;
	border: none;
	font-family:  'Open Sans', sans-serif;
}

.header {
	background-image: url('../img/banner_site.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: scroll;
	position: relative;
	min-height:100%;
}

.main-text {
	padding: 2.8rem;
	padding-top: 13rem;
	display: flex;
	justify-content: left;
	align-items: left;
	flex-direction: column;
	text-align: left;
	position: absolute;
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
	opacity: 1!important;
	color: #fff;
	font-family:  'Roboto', sans-serif;
	max-width: 100%;
}

.main-text p{
 	font-size: 1.1rem;
}

@media(min-width: 900px) {
	.main-text p{
	 	font-size: 1.7rem;
	}

	.main-text {
		max-width: 600px;
		padding-top: 8rem;
	}
}

.secondary-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  z-index:999;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
}
.secondary-text h2 {
  	color:#fff;
	text-align:center;
	font-weight: 700;
	line-height:1.1em;
	padding-top:30px;
	text-transform: uppercase;
}
.main-text h1 {
	color:#fff;
	text-align:center;
	font-weight: 700;
	font-size: 40px;
	line-height:1.1em;
	padding-top:30px;
	font-size: 4em;
}

.main-text h3{
	font-size: 2.8em;
	margin-bottom: 30px;
}
.divider{
	display: flex;
  	justify-content: center;
	width: 55%;
	background: #fff;
	height: 5px;
}

.shapes{
	display: flex;
  	justify-content: center;
  	align-items: center;
	padding-bottom: 100px;
}
.shape-radio{
	margin-top: 10%;
	position: relative;
	display: flex;
  	justify-content: center;
  	align-items: center;
  	border-radius: 100%;
	background:  linear-gradient(to top, #b70430, #860590);
	min-height: 220px;
	min-width: 220px;
	/*max-width: 250px;
	max-height: 250px; */
}
.img-shaped{
		border-radius: 100%;
}
/*.mold{
	margin-top:50px;
	height: 200px;
	max-width: 200px;
	border-radius: 100%;
	background:linear-gradient(to top, #DD1029, #EE2424, #F14220);
	z-index: -1;
	position: relative;
}
.img-circle{
	margin-top:3.7%;
	border-radius: 100%;
	z-index: 999;
	position: absolute;
	max-width: 180px;
}*/

/*@media(min-width: 505px) {
	.mold{
	margin-top:1.5%;
	height: 200px;
	max-width: 200px;
	border-radius: 100%;
	background:linear-gradient(to top, #DD1029, #EE2424, #F14220);
	z-index: -1;
	position: relative;
	}
	.img-circle{
		margin-top:0.5%;
		border-radius: 100%;
		z-index: 999;
		position: absolute;
		max-width: 180px;
	}
}*/

@media (min-width: 992px) {
  .header {
  	/*background-image: url('../img/bg.jpg');*/
  	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    position: relative;
  	min-height:100%;
  }
  .main-text h1 {
	color:#fff;
	text-align:center;
	font-weight: 700;
	font-size: 40px;
	line-height:1.1em;
	padding-top:30px;
	font-size: 70pt;
	}

	.main-text h3{
		font-size: 38pt;
		margin-bottom: 30px;
	}
	/*.mold{
		margin-top:50px;
		height: 200px;
		max-width: 200px;
		border-radius: 100%;
		background:linear-gradient(to top, #DD1029, #EE2424, #F14220);
		z-index: -1;
		position: relative;
	}
	.img-circle{
		margin-right: 50px;
		border-radius: 100%;
		z-index: 999;
		position: absolute;
		max-width: 180px;
	}*/
}

section {
  padding: 5rem 0rem 5rem 0rem;
}


.paragraph{
	display: flex;
  	justify-content: center;
  	align-items: center;
  	flex-direction: column;
  	font-size: 15pt;
}
#code{
	background-image: url('../img/code2.jpg');
}

#contact{
	background-image: url('../img/contact.jpg');
}
#projects {
	background-image: url('../img/code3.jpeg');
}
.parallax{
	height: 400px;
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 1rem 0rem 1rem 0rem;

}
#parallax1{
	padding-top: 0!important;
}
#parallax2{
	margin-top: -7%;
	padding-top: 0!important;
}
#parallax3{
	margin-top: -4%;
	padding-top: 0!important;
}
#about{
	bottom: 0;
	margin-bottom: -260px;
}
.gitlink{
	color:#F14220 ;
}
.gitlink:hover, .gitlink:active{
	text-decoration: none;
	color: #DD1029;
}
#languages{
	margin-top: 5%;
	margin-bottom: 5%;
}
#frameworks{
	margin-top: 5%;
	margin-bottom: 5%;
}
#tools{
	margin-top: 5%;
	margin-bottom: 5%;
}

.icons {
	display: inline-block;
	text-align: center;
	vertical-align: baseline;
	font-size: 6rem;
	margin-bottom: 5%;
	padding: 3%;
}

@media(min-width: 992px) {
	.icons{
		margin-bottom: none;
		padding: none;
	}
}


.all-icons-1{
	color: #DD1029;
}
.all-icons-2{
	color: #EE2424;
	
}
.all-icons-3{
	color: #F14220;
}
.contact-item{
	margin: 1.3rem;
	font-size: 1.8rem;
	font-family: 'Roboto', sans-serif;
}
.fb-link{
	color: rgb(33, 37, 41);
}
.fb-link:hover, #fb-link:active{
	text-decoration: none;
	color: rgb(33, 37, 41);
}
.fix-item{
	max-height: 100%;
}
.captions{
	font-family: 'Roboto', sans-serif;
	font-size: 15pt!important;
	color:#EAEAEA !important;
	background-color: rgba(050, 050, 050, 0.9);
	height: 80px;
	padding: 10px;
	max-height: 80px;
	max-width: 100%;
	box-shadow: 5px 5px 25px 5px #3A3939;
}
.captions h5{
	font-family: 'Roboto', sans-serif;
	font-size: 18pt!important;
}
.carousel-row{
	top: 150px;
	margin-top: 12%;
	bottom: 100px;
	margin-bottom: 10%;
}

.btn-outline {
	background: transparent;
	color: #fff;
	border: 2px solid #fff;
	padding: 0.5rem 1.5rem 0.5rem 1.5rem;
	border-radius: 0;
}
.divider-hr {
	border: 1px solid #fff;
}

.icon-service {
	position: relative;
	width: 90px;
	height: 90px;
	background:  linear-gradient(to right, #b70430, #860590);
	border-radius: 100%;
	margin: 1.1rem;
	display: inline-block;
 	vertical-align: middle;
 	box-shadow: 2.5px 5px 9px #999;
}

.icon-service img {
	width: auto;
	position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: inline-block;
 	vertical-align: middle;
}

.service {
	padding: 0.65rem;
	font-size: 1.1rem;
	font-family:  'Roboto', sans-serif;
	height: auto;
}

.service-text {
	width: 300px;
	display:inline-block;
	vertical-align: middle;
	padding: 1rem;
	text-align: center;
}

@media(min-width: 400px){
	.service {
		font-size: 1.20rem;
	}

	.service-text {
		width: 400px;
		text-align: left;
	}
}

.svg-icon {
	fill: #fff;
}

#site-icon{
	height: 70px;
}

#system-icon {
	height: 55px;
}

#mobile-icon {
	height: 55px;
}
