
.bg-custom{
	background:  linear-gradient(to right, #DD1029, /*#EE2424,*/ #F14220);
	/*background: #EE2424;*/
	/*background: rgba(255, 25, 0, 0.5);*/
}
.bg-alpha{
	background:  linear-gradient(to right, rgba(255, 0, 0, 1), rgba(255, 30, 0, 0.5));
}
body, html {
    height: 100%;
}
.navbar-brand{
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
}
.navbar-custom{
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	/*text-shadow: #000 1px 1px 3px;*/
}
.navbar-custom .navbar-nav .nav-link, .navbar-custom .navbar-nav .nav-link:hover{
	color: white;
}
.titles{
	justify-content: center;
  	align-items: center;
  	margin-top: -30px;
}
.titles h2{
	margin-bottom: 50px;
	font-family: 'Open Sans', sans-serif;
	font-size: 22pt;
	font-weight: 700;
	text-transform: uppercase;
}
h2.spin-move{
	animation-name: spin-move;
	animation-duration: 2s;
}

.gradient{
	background:linear-gradient(to right, #DD1029, #EE2424, #F14220);
	z-index:-1;
	position: relative;
	height:100vh;
}
@keyframes btn{
	from{background:linear-gradient(to right, #DD1029, #EE2424, #F14220);}
	to{background:linear-gradient(to right, #F14220, #DD1029, #EE2424);}
}
.btn-custom{
	transition: background 2s;
	background:linear-gradient(to right, #DD1029, #EE2424, #F14220);
	padding: 10px 30px 10px 30px;
	font-size: 18pt;
	color: #fff;
	border-radius: 0;
	border: none;
	font-family:  'Open Sans', sans-serif;
}

.header {
  background-image: url('../img/bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 154px 0 500px;
}

@media (min-width: 992px) {
  .header {
  	background-image: url('../img/bg.jpg');
  	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 156px 0 500px;
  }
}

section {
  padding: 150px 0;
}

.main-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index:999;
  opacity: 1!important;
  color: #fff;
}

.main-text h1 {
	color:#fff;
	text-align:center;
	font-weight: 700;
	font-size: 40px;
	line-height:1.1em;
	padding-top:30px;
	font-size: 70pt;
}
.main-text h3{
	font-size: 38pt;
	margin-bottom: 30px;
}
.divider{
	display: flex;
  	justify-content: center;
	width: 55%;
	background: #fff;
	height: 5px;
}
.paragraph{
	display: flex;
  	justify-content: center;
  	align-items: center;
  	flex-direction: column;
}
